 <%= form_for @question, :html => { :multipart => true, :class => 'form-horizontal' ,:onsubmit=>" return validate_question()"} do |f| %>
  <fieldset>
    <%= raw errors_for @question %>
    <%= (input_multiline_text 'statement', { :textarea_cols => 116, :autofocus => 'autofocus', :label => '', :html => " autofocus='autofocus' width='96%' height='300px'"}).html_safe  %>

    <div class="control-group">
      <table>
        <tr>

          <td class="span10">
            <!--<#% #raw input_attachments :object => 'statement' %>-->
          </td>

          <td valign="top">
            <div class="control-group">
              <table style="float:right;">
                <tr>
                  <td>Complexity: </td>
                  <td>
                    <%= select("question", "complexity_list", Question.complexities.collect{|complexity| [complexity.name, complexity.name]}) %>
                  </td>
                </tr>

                <tr>
                  <td>Topic: </td>
                  <td>
                    <%puts "*"*100%>
                    <%puts current_user.track%>
                    <%if current_user.track == "qa"%>
                      <%= select("question", "qa_topic_list", Question.qa_topics.collect{|topic| [topic.name, topic.name]}, {}, :onchange => 'topic_changed(this.value);') %>
                    <%else%>
                      <%= select("question", "dev_topic_list", Question.dev_topics.collect{|topic| [topic.name, topic.name]}, {}, :onchange => 'topic_changed(this.value);') %>
                    <%end%>
                  </td>
                </tr>

                
                <tr>
                  <td>Comment</td>
                  <td>
                    <%= (input_multiline_text 'comment', { :textarea_cols => 22,:textarea_rows => 3, :autofocus => 'autofocus', :label => '', :html => " autofocus='autofocus' width='96%' height='100px'",:style=>"margin-left: -10px;"}).html_safe  %>
                  </td>
                </tr>
              </table>
            </div>
          </td>

        </tr>
      </table>
    </div>

    <div class="control-group">
      <div class="controls">
        This question of type <%= select("question", "nature_list", Question::Natures.collect{|val| [val, val]}, {}, :onchange => 'nature_changed(this.value);') %>
      </div>
    </div>

    <div class="control-group" id="objective_options" style="display:none;">
      <div class="controls">
        <%= render :partial => 'objective' %>
      </div>
    </div>

    <div class="control-group" id="subjective" >
      <div class="controls">
        <%= render :partial => 'subjective' %>
      </div>
    </div>

  </fieldset>
<input type="hidden" name="question[track]" value="<%= current_user.track %>"/>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', questions_path, :class => 'btn' %>
  </div>

<% end %>




<script type="text/javascript">
  function nature_changed(nature){
    if (nature=='Objective'){
      $("#objective_options").show("slow");
      $("#subjective").hide('slow');
    }
    else{
      $("#objective_options").hide('slow');
      $("#subjective").show("slow");
    }
  }
  nature_changed($('#question_nature_list').val());

  
</script>
