<h3>Question: </h3>

<div class="well">
  <p>
    Question:<%= @question.statement.html_safe %>
    <br/><i>by <%=@question.submitter.email rescue nil%></i>
  </p>
  <p>
    Complexity: <%= @question.complexity %>
  </p>
  <p>
    Topic: <%= @question.topic %>
  </p>
  <p>
    Comment: <%= @question.comment %>
  </p>
  <p>
    <%= render :partial => 'answer' ,:locals => {:question => @question}%>
  </p>
  <p>
    <%= raw attachments_show @question %>
  </p>

</div>
<%unless @judge%>
<p>
  <%= link_to "Edit", edit_question_path(@question), :class => 'btn' %> |
  <%= link_to "Destroy", @question, :confirm => 'Are you sure?', :method => :delete, :class => 'btn' %> |
  <%= link_to "View All", questions_path, :class => 'btn btn-danger' %>
</p>
<%end%>