<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true, :autofocus => true ,:label=>"Primary email address" %>
    <%= f.input :group_name, :required => true %>
    <%= f.input :first_name, :required => true,:label=>"Group member 1" %>
    <%= f.input :last_name, :label=>"Group member 2" %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.input :track, :collection => ["dev","qa"], :as => :radio, :checked => "dev" %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
